
<% if @team.league.cost > current_user.balance %>
<h1><%= @team.league.name %> - <span style="color: red"><%= number_to_currency(@team.league.cost, precision: 0) %></span></h1>
<% else %>
  <h1><%= @team.league.name %> - <span><%= number_to_currency(@team.league.cost, precision: 0) %></span></h1>
<% end %>
<div class="row">
  <div class="col-md-6">
    <ul class="nav nav-tabs">
      <li role="presentation" class="all"><%= link_to "All", team_path(id: @team, position: "All")%></li>
      <li role="presentation" class="top"><%= link_to "Top", team_path(id: @team, position: "Top Lane")%></li>
      <li role="presentation" class="jungler"><%= link_to "Jungler", team_path(id: @team, position: "Jungler")%></li>
      <li role="presentation" class="mid"><%= link_to "Mid", team_path(id: @team, position:"Mid Lane")%></li>
      <li role="presentation" class="adc"><%= link_to "ADC", team_path(id: @team, position: "AD Carry")%></li>
      <li role="presentation" class="support"><%= link_to "Support", team_path(id: @team, position: "Support")%></li>

    </ul>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Position
            </th>
            <th>
              PPG
            </th>
            <th>
              Cost
            </th>
            <th>
              Add
            </th>
          </tr>
        </thead>

        <tbody>
          <% @players.each_index do |index| %>
          <% if @filter_array.include?(@player_roles[index]) %>
          <tr>
            <td>
              <%= @playernames[index] %>
            </td>
            <td>
              <%= @player_roles[index] %>
            </td>
            <td>
              <%= @player_ppg[index] %>
            </td>
            <td>
              <%= number_to_currency(@player_costs[index], precision: 0) %>
            </td>
            <td>
              <% if @player_costs[index] > @salary_remaining %>
                 <%= link_to  new_teams_player_path(player_id: @players[index], team_id: @team.id, player_cost: @player_costs[index]), class: "btn btn-default disabled" do %>
                  Add <i class="glyphicon glyphicon-plus-sign"> </i>
                  <% end %>
              <% else %>
                  <%= link_to  new_teams_player_path(player_id: @players[index], team_id: @team.id, player_cost: @player_costs[index], position: @filter), class: "btn btn-success" do %>
                  Add <i class="glyphicon glyphicon-plus-sign"> </i>
                  <% end %>

              <% end %>

            </td>
          </tr>
          <% end %>
          <% end %>

        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <h2>Your Players</h2>
      </div>
      <div class="col-md-6">
        <div class="row skinny-col">
          <div class="col-md-6 ">
            <h4><%= number_to_currency @salary_remaining %></h4>
          </div>
          <div class="col-md-6 text-align-left">
            <h4><%= number_to_currency @average_cost_per_player %></h4>
          </div>
        </div>
        <div class="row skinny-col">
          <div class="col-md-6">
            <p class="muted">
              Salary Remaining
            </p>
          </div>
          <div class="col-md-6">
            <span class="muted">
              Avg/Player
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="rounded-corners">
        <table class="table">
          <thead>
            <tr>
              <caption class="text-center">
                Players Locked in at: <%= @team.league.start_time.strftime('%a %b %e %I:%M %p %Z') %>
              </caption>
            </tr>
          </thead>
          <tbody>
            <% @my_players.each_index do |index|%>
            <tr>
              <td>
                <%= @my_playernames[index] %>
              </td>
              <td>
                <%= @my_player_roles[index] %>
              </td>
              <td>
                <%= @my_player_ppg[index] %>
              </td>
              <td>
                <%= number_to_currency(@my_player_costs[index], precision: 0) %>
              </td>

              <td>
                  <%= link_to  edit_team_path(id: @team.id, player_id: @my_players[index], position: @filter), class: "btn btn-danger" do %>
                  Remove <i class="glyphicon glyphicon-minus-sign"> </i>
                  <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>

        </table>
      </div>

      <% if @my_players.size == 5 %>
      <% if @needed_money > 0 %>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        Enter
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Oops!</h4>
            </div>
            <div class="modal-body">
              You don't have enough funds in your account to enter this league. Would you like to add <%= number_to_currency(@needed_money) %>
              so that you will be able to enter?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= link_to "Add Funds", new_charge_path(amount: @needed_money, path: request.original_url), class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
      <% else %>
      <%= link_to "Enter", team_submit_team_path(id: @team.id), class: "btn btn-success" %>
      <% end %>
      <% end %>
    </div>

  </div>

</div>
<script type="text/javascript">
$(document).ready(function () {
  $('.<%= @filter_term %>').addClass('active');
});

</script>
