
<div class="row">
  <div class="col-md-8">
    <div class="table-responsive">
      <table class="table-striped">

        <tr>
          <th>
            Name
          </th>
          <th>
            Position
          </th>
          <th>
            PPG
          </th>
          <th>
            Cost
          </th>
        </tr>
        <% @players.each do |player|%>
        <tr>
          <td>
            <%= player.name %>
          </td>
          <td>
            <%= player.position %>
          </td>
          <td>
            <%= player.points_per_game %>
          </td>
          <td>
            <%= player.value %>
          </td>
          <td>
            <%= link_to "Add Player", new_teams_player_path(team_id: @team.id, player_id: player.id) %>
          </td>

        </tr>
        <% end %>
      </table>
    </div>

  </div>
  <div class="col-md-4">
    <table class="table-striped">

      <tr>
        <th>
          Name
        </th>
        <th>
          Position
        </th>
        <th>
          PPG
        </th>
        <th>
          Cost
        </th>
      </tr>
      <% @my_players.each do |player|%>
      <tr>
        <td>
          <%= player.name %>
        </td>
        <td>
          <%= player.position %>
        </td>
        <td>
          <%= player.points_per_game %>
        </td>
        <td>
          <%= player.value %>
        </td>
        <td><%= link_to 'Remove', edit_team_path(id: @team.id, player_id: player.id) %></td>

      </tr>
      <% end %>
    </table>
  </div>

</div>
