<% if flash[:notice] %>
<div class="alert alert-warning"><%= flash[:notice] %></div>
<% end %>
<div class="row">

  <div class="col-md-6">
    <ul class="nav nav-tabs">
      <li role="presentation" class="all"><%= link_to "All", team_path(id: @team, position: "all")%></li>
      <li role="presentation" class="top"><%= link_to "Top", team_path(id: @team, position: "top")%></li>
      <li role="presentation" class="jungler"><%= link_to "Jungler", team_path(id: @team, position: "jungler")%></li>
      <li role="presentation" class="mid"><%= link_to "Mid", team_path(id: @team, position: "mid")%></li>
      <li role="presentation" class="adc"><%= link_to "ADC", team_path(id: @team, position: "adc")%></li>
      <li role="presentation" class="support"><%= link_to "Support", team_path(id: @team, position: "support")%></li>

    </ul>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Position
            </th>
            <th>
              PPG
            </th>
            <th>
              Cost
            </th>
            <th>
              Add
            </th>
          </tr>
        </thead>

        <tbody>
          <% @playernames.each do |name| %>
          <tr>
            <td>
              <%= name %>
            </td>
          </tr>
          <% end %>

</tbody>
</table>
</div>

</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-6">
      <h2>Your Players</h2>
    </div>
    <div class="col-md-6">
      <div class="row skinny-col">
        <div class="col-md-6 ">
          <h4>$50000</h4>
        </div>
        <div class="col-md-6">
          <h4>$10000</h4>
        </div>
      </div>
      <div class="row skinny-col">
        <div class="col-md-6">
          <p class="muted">
            Salary Remaining
          </p>
        </div>
        <div class="col-md-6">
          <span class="muted">
            Avg/Player
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="rounded-corners">
      <table class="table">
        <thead>
          <tr>
            <caption class="text-center">
              Players Locked in at: <%= @team.league.start_time.strftime('%a %b %e %I:%M %p %Z') %>
            </caption>
          </tr>
        </thead>
        <tbody>
          <% @my_players.each do |player|%>
          <tr>
            <td>
              <%= player.name %>
            </td>
            <td>
              <%= player.position.capitalize %>
            </td>
            <td>
              <%= player.points_per_game %>
            </td>
            <td>
              <%= number_to_currency player.value %>
            </td>
            <td><%= link_to 'Remove', edit_team_path(id: @team.id, player_id: player.id) %></td>

          </tr>
          <% end %>
        </tbody>

      </table>
    </div>

    <%= link_to "Enter", team_submit_team_path(id: @team.id), class: "btn btn-success" %>
  </div>

</div>

</div>
<script type="text/javascript">
$(document).ready(function () {
  $('.<%= @filter_term %>').addClass('active');
});

</script>
