<h2>Sign up for <div class="fantasy_league-font">Fantasy League</div></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>




  <div class="field form-group">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="field hidden">
    <%= f.text_field :role, value: "guest" %>
    <%= f.text_field :balance, value: 0.00 %>
  </div>
  <p>Make sure you read the Terms & Conditions before signing up! </p>

  <p>
  <div class="row">
    <div class="col-md-4">
      <%= link_to "Terms & Conditions", "#myModal", :class => "btn btn-success", "data-toggle" => "modal" %>
    </div>
    <div class="col-md-6 text-right">
      <%= f.submit "Sign up!", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>


 <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
              </div>
              <div class="modal-body">
                <pre>
                Terms of Use

                IMPORTANT NOTICE:THIS AGREEMENT IS SUBJECT TO BINDING ARBITRATION AND A WAIVER OF CLASS ACTION RIGHTS AS DETAILED IN SECTION 15

                1. Acceptance of terms

                The Fantasy League website Fantasy League.com ("Site") and app (collectively, the “Service”) — which include all of the text, images, audio, code and other material they contain or provide (collectively, the “Content”) and all of the features, contests and other services they provide — are owned and operated by Fantasy League ("Fantasy League"), a trading company of Fantasy League Inc. Please read these terms of use carefully before using the Service. By using or otherwise accessing the Services, or clicking to accept or agree to these Terms of Use (the “Terms”) where that option is made available, you (1) accept and agree to these Terms and our additional Rules and Scoring system and (2) consent to the collection, use, disclosure and other handling of information as described in our Privacy Policy. If you do not agree to all the terms of use, then you may not access or use the Content or Services.

                Fantasy League may issue additional terms, rules and conditions of participation in particular contests. You agree to be subject to them if you participate in such contests.

                2. Modification of Terms of Use

                Except for Section 15, providing for binding arbitration and waiver of class action rights, Fantasy League reserves the right, at its sole discretion, to modify or replace the Terms of Use at any time. The most current version of these Terms will be posted on our Site. You shall be responsible for reviewing and becoming familiar with any such modifications. If a revision to the Terms, in our sole discretion, is material, we will notify you by contacting you through the email address associated with your account. Use of the Services by you after any modification to the Terms constitutes your acceptance of the Terms of Use as modified.

                3. Eligibility

                You hereby represent and warrant that you are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth in these terms and to abide by and comply with these terms.

                In order to deposit money to play paid entry games you must be able to represent and warrant that:

                you are of 18 years of age or older
                you are a citizen or resident of the United States of America or Canada and that you have an address in the United States of America or Canada;
                you are physically located in the United States of America or Canada and reside in a jurisdiction in which participation in any contest you choose to participate in is not prohibited by applicable law;
                you are not listed on any U.S. Government list of prohibited or restricted parties;
                you will abide at all times by these Terms of Use and any other agreements between you and Fantasy League regarding your use of the Service or participation in games; and
                you are not a resident of any of the following states: Arizona, Iowa, Louisiana, Montana or Washington.
                you are not subject to backup withholding tax because: (a) you are exempt from backup withholding, or (b) you have not been notified by the Internal Revenue Service (IRS) that you are subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified you that you are no longer subject to backup withholding.
                If you do not meet the eligibility requirements of this section, then you are not authorized to use the Service. Fantasy League may require you to provide proof that you are eligible to participate according to this section prior to receiving a prize. This includes by requesting that you fill out an affidavit of eligibility. To the extent Fantasy League requests that you fill out such an affidavit and you fail to do so within 5 days, or Fantasy League otherwise determines that you do not meet the eligibility requirements of this section, in addition to any rights that Fantasy League may have in law or equity, Fantasy League reserves the right to terminate your account and withhold or revoke the awarding of any prizes associated with such account. In such a situation, Fantasy League will pay out any withheld or revoked prizes to the other entrants in the relevant contest in a manner consistent with the prize structure of the contest, to be precisely determined by Fantasy League in its sole discretion.

                You may establish, maintain, use and control only one account on the Service. In the event Fantasy League determines that you have opened, maintained, used or controlled more than one account, in addition to any other rights that Fantasy League may have, Fantasy League reserves the right to suspend or terminate any or all of your accounts and terminate, withhold or revoke the awarding of any prizes.

                Fantasy League employees may use the Service for the purpose of testing the user experience, but may not withdraw money or prizes. Fantasy League consultants or promoters of the Service may play in contests without such limitation, but only if (i) their arrangement with Fantasy League does not permit them to have any access to non-public Service data or any other data not made available to all players on the Service and (ii) they do not receive any other advantages in their play on the Service.

                Athletes, coaches and other team management, team support personnel (e.g. without limitation, team physicians) and team owners may not participate in any Fantasy League contests in the sport or sports with which they’re associated. Team owners, referees, league employees, sports commissioners and other individuals who through an ownership interest or game-related employment can influence the gameplay are likewise ineligible.

                4. Conditions of participation

                Registration

                In order to participate in a contest on the Service, you must register for an account. By registering as a user of the Service, you agree to provide accurate, current and complete information about yourself as prompted (such information being the “Registration Data”) and maintain and promptly update the Registration Data to keep it accurate, current and complete. If you provide any information that is inaccurate, not current or incomplete, or Fantasy League has reasonable grounds to suspect that such information is inaccurate, not current or incomplete, Fantasy League may deny you access to areas requiring registration, or terminate your account, at its sole discretion.

                Account Password and Security

                At the time of registration for online account access, you must provide a valid email address and supply a Username and Password to be used in conjunction with your account. You may not use a Username that promotes a commercial venture or a Username that Fantasy League in its sole discretion deems offensive. Many portions of the Service require registration for access (the "Restricted Areas"). You are responsible for maintaining the confidentiality of your Username and Password, and are fully responsible for all uses of your Username and Password, whether by you or others. You agree to (a) never to use the same Password for the Service that you use or have ever used outside of the Service; (b) keep your Username and Password confidential and not share them with anyone else; (c) immediately notify Fantasy League of any unauthorized use of your Username and Password or account or any other breach of security; and (d) use only your own Username and Password to access the Service’s Restricted Areas. Fantasy League cannot and will not be liable for any loss or damage arising from your failure to comply with this Section.

                You acknowledge and agree that Fantasy League is authorized to act on instructions received through the use of your Username and Password, and that Fantasy League may, but is not obligated to, deny access or block any transaction made through use of your Username and Password without prior notice if we believe your Username and Password are being used by someone other than you, or for any other reason.

                Fantasy League may require you to change your Username or may unilaterally change your Username.

                Communications and Information Practices

                As a result of your registration for the Service, you may receive certain commercial communications from Fantasy League. You understand and agree that these communications are part of your registration, and that, to the extent required by law, you may opt out of receiving these communications at any time by either using the unsubscribe functionality or sending an email to info [at] Fantasy League [dot] com. Following such an opt-out, we may still communicate with you via email to the extent permitted by applicable law.

                Disqualification and Cancellation

                Fantasy League also reserves that right to cancel contests, in our sole discretion, without any restrictions. Fantasy League, in its sole discretion, may disqualify you from a contest or the entire Service, refuse to award fantasy points or prizes and require the return of any prizes, or suspend or terminate your account if you engage in conduct Fantasy League deems, in its sole discretion, to be improper, unfair or otherwise adverse to the operation of the Service or in any way detrimental to other users. Improper conduct includes, but is not limited to: falsifying personal information required to use the Service or claim a prize; violating any of these rules, accumulating points or prizes through unauthorized methods such as automated scripts or other automated means; tampering with the administration of the Service or trying to in any way tamper with the computer programs associated with the Service; obtaining other entrants’ information and spamming other entrants; and abusing the Service in any way; or otherwise violating these Terms of Use. You acknowledge that the forfeiture and/or return of any prize shall in no way prevent Fantasy League from pursuing criminal or civil proceedings in connection with such conduct. Further, the Service MAY NOT BE USED FOR ANY FORM OF GAMBLING.

                If for any reason the Service is not running as originally planned (e.g., if the Site becomes corrupted or does not allow the proper usage and processing of entries in accordance with the rules, or if infection by a computer virus, bugs, tampering, unauthorized intervention, actions by entrants, fraud, technical failures, or any other causes of any kind, in the sole opinion of Fantasy League corrupts or affects the administration, security, fairness, integrity or proper conduct of the Service), Fantasy League reserves the right, in its sole discretion, to disqualify any individual implicated in or relating to the cause and/or to cancel, terminate, extend, modify or suspend the Service, and select the winner(s) from all eligible entries received. If such cancellation, termination, modification or suspension occurs, notification may be posted on the Site.

                The failure of Fantasy League to comply with any provision of these Terms due to an act of God, hurricane, war, fire, riot, earthquake, terrorism, act of public enemies, actions of governmental authorities outside of the control of Fantasy League (excepting compliance with applicable codes and regulations) or other force majeure event will not be considered a breach of these Terms.

                Fantasy League is not affiliated with or sponsored by the National Football League, the National Hockey League or Major League Baseball.

                Publicity

                By entering a contest, you consent to Fantasy League’s and its service providers’ and business partners’ use of your name, voice, likeness, and photograph in connection with the development, production, distribution and/or exploitation (including marketing and promotion) of the selected contest and/or other Fantasy League contests and Fantasy League generally, unless otherwise prohibited by law. Contest winners agree that, from the date of notification of their status as a potential winner, and continuing until such time when notified that they no longer need to do so, they will make themselves available to Fantasy League Inc for up to 50 hours (or a higher quantity where specified by the rules of particular contests) of publicity, advertising and promotional activities relating to the contest or other Fantasy League products, services or events, without additional compensation. Fantasy League Inc and its business partners reserve the right to make public statements about the entrants and winner(s), on-air, on the Internet, or otherwise, prior to, during, or following the contest. Entrants agree that Fantasy League Inc may announce any winner's name on-air or on any of its websites or any other location at any time in connection with the marketing and promotion of Fantasy League or other contests or games operated by Fantasy League Inc. You agree that participation in and (where applicable) the winning of a prize in connection with a contest constitute complete compensation for your obligations under this paragraph, and you agree not to seek to charge a fee or impose other conditions on the fulfillment of these obligations. The rules specific to certain contests may contain additional publicity obligations or may require a written signature on a separate publicity waiver.

                5. Game Rules

                Game of Skill

                Fantasy League is a game of skill. Winners are determined by the criteria stated in each contest's rules. For each contest, winners are determined by the individuals who use their skill and knowledge of relevant professional sports information and fantasy sports rules to accumulate the most fantasy points. Fantasy points are accumulated through the performance of individual athletes across multiple sports events. All entries in Fantasy League must be made up of players drawn from a minimum of two sporting events.

                Entry fees

                Each Fantasy League contest has an entry fee listed in US dollars. When you opt to participate in a contest, that amount in US dollars will be debited from your Fantasy League account. Then, follow the links and instructions provided for entry. In the event of a dispute regarding the identity of the person submitting an entry, the entry will be deemed submitted by the person in whose Username the entry was submitted, or if possession of the Username itself is contested and in Fantasy League’s opinion sufficiently uncertain, the name in which the email address on file was registered with the email service provider. Fantasy League reserves the right not to award a prize to an individual it believes in its sole discretion did not submit the winning entry.

                Contest Term

                Fantasy League offers contests for multiple professional sports events generally taking place on a single day or at most a week.

                Prizes

                After each contest ends, the tentative winners are announced (generally by the following day) but remain subject to final verification. The players in each contest who accumulate the most fantasy points and comply with eligibility requirements and applicable rules will win prizes as set out in the posted contest details. Prizes are added to the winning team's account balance. In the event of a tie, the prize is divided evenly between the tied players, unless otherwise specified.

                Fantasy League offers a number of different types of contests. For each contest, we announce the entry fees and prizes in advance on the contest page. For a summary of entry fees and prizes for currently open contests please login and visit the main lobby.

                Prize calculations are based on the results as of the time when final scoring is tabulated by Fantasy League. Once winners are initially announced by Fantasy League, the scoring results will not be changed in light of official adjustments made by the professional leagues, though we reserve the right to make adjustments based on errors or irregularities in the transmission of information to us from our stats provider or in our calculation of results. We also may make adjustments in the event of noncompliance with the Terms. Fantasy League has no obligation to delay the awarding of a prize in anticipation of any adjustment, and we reserve the right to reverse payments in the event of any adjustment. You agree to cooperate with our efforts to reverse payments.

                No substitution or transfer of a prize is permitted. All taxes associated with the receipt or use of any prize are the sole responsibility of the winner. In the event that the awarding of any prizes to winners of the Contest is challenged by any legal authority, Fantasy League reserves the right in its sole discretion to determine whether or not to award or adjust such prizes. In all disputes arising out of the determination of the winner of Fantasy League contests, Fantasy League Inc is the sole judge and its actions are final and binding.

                Notification

                Winners are generally posted on the Site after the conclusion of each contest by 10 AM ET on the following day. Winners may be requested to return via email or regular mail an affidavit of eligibility, a publicity agreement and appropriate tax forms by a specified deadline. Failure to comply with this requirement can result in disqualification. Any prize notification returned as undeliverable may result in disqualification and selection of an alternate winner. In addition, a list of winners and winner's names for each competition period may be obtained by writing to: Fantasy League.com, North Ervay 211, 10th Floor Dallas TX 75270.

                Taxation

                In early January each year all winners who have won $600 or more (net of all entry fees) over the previous year must provide updated address and social security details to FantasyLeague.com,North Ervay 211, 10th Floor Dallas TX 75270. These details will be used to file a 1099-MISC with the Internal Revenue Service.

                Bonuses and Promotions

                We frequently offer bonuses to newly depositing users and for other marketing purposes. Pending bonus is converted into a player’s cash account as the player enters real money contests. Unless otherwise stated, any unconverted pending bonus remaining in a player’s account 45 days after it has been initially credited can be removed by Fantasy League. Any cash bonus a new user receives is for entry into competitions on Fantasy League and can only be withdrawn if they have been previously entered into at least one game. Additionally, if a user immediately withdraws money after a deposit which delivers a deposit bonus then the bonus will be retracted. In the event of abuse of the bonus system by any user, Fantasy League reserves the right to retract your user bonuses.

                We frequently offer cash rewards for players competing in "Beat The Expert" competitions and Giveaway/Freeroll tournaments. Fantasy League reserves the right to reclaim these funds if players do not use them to enter real money contests within 1 month of their initial crediting. These funds can be used to enter real money contests but cannot be immediately withdrawn.

                Withdrawals Generally

                For all withdrawals we require a valid mailing address, birthday and social security number in order to file the appropriate tax forms at year end. We also may conduct checks for Terms compliance, including anti-fraud checks on playing patterns and deposits prior to processing a withdrawal, and we may request additional information before permitting a withdrawal.

                In cases where you have received a bonus or other benefits as a result of your deposit and have not yet played through the deposit (entering contests whose total entry fees equal the value of the deposit), Fantasy League reserves the right to refuse the withdrawal and/or close the your account.

                6. Conduct

                As a condition of use, you promise not to use the Services for any purpose that is unlawful or prohibited by these Terms, or any other purpose not reasonably intended by Fantasy League. By way of example, and not as a limitation, you agree not to:

                abuse, harass, impersonate, intimidate or threaten other Fantasy League users;
                post or transmit, or cause to be posted or transmitted, any Content that are infringing, libelous, defamatory, abusive, offensive, obscene, pornographic or otherwise violates any law or right of any third party;
                use the Service for any unauthorized purpose, or in violation of any applicable law, including intellectual property laws;
                post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any Fantasy League user;
                create or submit unwanted email ("Spam") to any other Fantasy League users;
                infringe upon the intellectual property rights of Fantasy League, its users, or any third party;
                submit comments linking to affiliate programs, multi-level marketing schemes, sites repurposing existing stories or off-topic content;
                post, email, transmit, upload, or otherwise make available any material that contains software viruses or any other computer code, files or programs designed or functioning to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment;
                use any robot, spider, scraper, sniping software or other automated means to access the Service for any purpose (except for RSS feed access) without our express written permission. Additionally, you agree that you will not: (1) take any action that imposes, or may impose in our sole discretion an unreasonable or disproportionately large load on our infrastructure; (2) interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service; or (3) bypass any measures we may use to prevent or restrict access to the Service;
                use artificial means, including creating multiple user accounts, to inflate your position and standing with the Fantasy League leader boards and community;
                advertise to, or solicit, any user to buy or sell any products or Service, or use any information obtained from the Service in order to contact, advertise to, solicit, or sell to any user without their prior explicit consent;
                sell or otherwise transfer your profile;
                attempt to influence the play in any sports event that is the subject of a competition on Fantasy League in which you are involved or in which you have a direct or indirect interest.
                Violation of our rules may result in the removal of your Content from the Service and/or the canceling of your account. You acknowledge and agree that Fantasy League may remove any User Content and terminate any Fantasy League account at any time for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such User Content). To report Terms of Use violations, please contact us.
                User Content

                You understand that all Content made available on the Service by a user (“User Content”), including but not limited to profile information and communications with other users, whether privately transmitted or made publicly available, is the sole responsibility of the person from which such User Content originated. This means that you, not Fantasy League, are entirely responsible for all User Content that you upload, post, share, email, transmit, or otherwise make available via the Service. Under no circumstances will Fantasy League be liable in any way for any User Content.

                You acknowledge that Fantasy League may or may not pre-screen User Content, but that Fantasy League and its designees have the right (but not the obligation) in their sole discretion to pre-screen, refuse, permanently delete, undelete, modify and/or move any User Content available via the Service. Without limiting the foregoing, Fantasy League and its designees shall have the right to remove any User Content that violates these Terms or is otherwise objectionable in Fantasy League's sole discretion. You understand that by using the Service, you may be exposed to User Content that you may consider to be offensive or objectionable. You agree that you must evaluate, and bear all risks associated with, the use or disclosure of any User Content. You further acknowledge and agree that you bear the sole risk of reliance on any Content available on or through the Service.

                With respect to User Content you submit or otherwise make available on or to the Service, you grant Fantasy League an irrevocable, fully sub-licensable, perpetual, world-wide, royalty-free, non-exclusive license to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such User Content (in whole or in part), and to incorporate such User Content into other works, in any format or medium now known or later developed.

                You are solely responsible for your interactions with other users of the Service. Fantasy League reserves the right, but has no obligation, to monitor disputes between you and other users.

                7. Indemnity

                You agree to release and to indemnify, defend and hold harmless Fantasy League and its parents, subsidiaries, affiliates and agencies, as well as the officers, directors, employees, shareholders and representatives of any of the foregoing entities, from and against any and all losses, liabilities, expenses, damages, costs (including attorneys’ fees and court costs) claims or actions of any kind whatsoever arising or resulting from your use of the Service, your violation of these Terms of Use, your receipt, ownership, use or misuse of any prize, and any of your acts or omissions that implicate publicity rights, defamation or invasion of privacy. Fantasy League reserves the right, at its own expense, to assume exclusive defense and control of any matter otherwise subject to indemnification by you and, in such case, you agree to cooperate with Fantasy League in the defense of such matter.

                8. Warranty disclaimers

                You expressly understand and agree that your use of the Service is at your sole risk. The Service (including the Service and the Content) are provided on an "AS IS" and "as available" basis, without warranties of any kind, either express or implied, including, without limitation, implied warranties of merchantability, fitness for a particular purpose or non-infringement. You acknowledge that Fantasy League has no control over, and no duty to take any action regarding: which users gain access to or use the Service; what effects the Content may have on you; how you may interpret or use the Content; or what actions you may take as a result of having been exposed to the Content. You release Fantasy League from all liability for you having acquired or not acquired Content through the Service. The Service may contain, or direct you to other websites containing information that some people may find offensive or inappropriate. Fantasy League makes no representations concerning any Content contained in or accessed through the Service, and Fantasy League will not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Service.

                9. Limitation on liability

                YOU ACKNOWLEDGE AND AGREE THAT YOU ASSUME FULL RESPONSIBILITY FOR YOUR USE OF THE SITE AND SERVICE. YOU ACKNOWLEDGE AND AGREE THAT ANY INFORMATION YOU SEND OR RECEIVE DURING YOUR USE OF THE SITE AND SERVICE MAY NOT BE SECURE AND MAY BE INTERCEPTED OR LATER ACQUIRED BY UNAUTHORIZED PARTIES. YOU ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE SITE AND SERVICE IS AT YOUR OWN RISK. RECOGNIZING SUCH, YOU UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, NEITHER Fantasy League NOR ITS SUPPLIERS OR LICENSORS WILL BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE, EXEMPLARY OR OTHER DAMAGES OF ANY KIND, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER TANGIBLE OR INTANGIBLE LOSSES OR ANY OTHER DAMAGES BASED ON CONTRACT, TORT, STRICT LIABILITY OR ANY OTHER THEORY (EVEN IF Fantasy League HAD BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM THE SITE OR SERVICE; THE USE OR THE INABILITY TO USE THE SITE OR SERVICE; UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SITE OR SERVICE; ANY ACTIONS WE TAKE OR FAIL TO TAKE AS A RESULT OF COMMUNICATIONS YOU SEND TO US; ANY INCORRECT, ILLEGIBLE, MISDIRECTED, STOLEN, INVALID OR INACCURATE ENTRY INFORMATION; HUMAN ERRORS; TECHNICAL MALFUNCTIONS; FAILURES, INCLUDING PUBLIC UTILITY OR TELEPHONE OUTAGES; OMISSIONS, INTERRUPTIONS, LATENCY, DELETIONS OR DEFECTS OF ANY DEVICE OR NETWORK, PROVIDERS, OR SOFTWARE (INCLUDING, BUT NOT LIMITED TO, THOSE THAT DO NOT PERMIT AN ENTRANT TO PARTICIPATE IN THE SERVICE); ANY INJURY OR DAMAGE TO COMPUTER EQUIPMENT; INABILITY TO FULLY ACCESS THE SITE OR SERVICE OR ANY OTHER WEBSITE; THEFT, TAMPERING, DESTRUCTION, OR UNAUTHORIZED ACCESS TO, OR ALTERATION OF, ENTRIES, IMAGES OR OTHER CONTENT OF ANY KIND; DATA THAT IS PROCESSED LATE OR INCORRECTLY OR IS INCOMPLETE OR LOST; TYPOGRAPHICAL, PRINTING OR OTHER ERRORS, OR ANY COMBINATION THEREOF; OR ANY OTHER MATTER RELATING TO THE SITE OR SERVICE. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, Fantasy League'S LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY YOU TO Fantasy League FOR GENERAL USE OF THE SITE OR SERVICE DURING THE TERM OF YOUR REGISTRATION FOR THE SITE, NOT INCLUDING ANY ENTRY FEES FOR CONTESTS COMPLETED PRIOR TO THE CIRCUMSTANCES GIVING RISE TO THE CLAIM.

                Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages. Accordingly, some of the above limitations may not apply to you.

                10. Our proprietary rights

                All title, ownership and intellectual property rights in and to the Service are owned by Fantasy League or its licensors. You acknowledge and agree that the Service contains proprietary and confidential information that is protected by applicable intellectual property and other laws. Except as expressly authorized by Fantasy League, you agree not to copy, modify, rent, lease, loan, sell, distribute, perform, display or create derivative works based on the Service, in whole or in part.

                11. Links

                The Service provides, or third parties may provide, links to other World Wide Web sites or resources. Because Fantasy League has no control over such sites and resources, you acknowledge and agree that Fantasy League is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that Fantasy League shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource.

                12. Termination and suspension

                Fantasy League may terminate or suspend all or part of the Service and your Fantasy League account immediately, without prior notice or liability, if you breach any of the terms or conditions of the Terms. Upon termination of your account, your right to use the Service will immediately cease. If you wish to terminate your Fantasy League account, you may contact us via the contact form with a note to say you wish to terminate your account.

                The following provisions of the Terms survive any termination of these Terms: CONDITIONS OF PARTICIPATION (except for Registration and Account Password and Security); GAME RULES (only Bonuses and Promotions); CONDUCT (only User Content); INDEMNITY; WARRANTY DISCLAIMERS; LIMITATION ON LIABILITY; OUR PROPRIETARY RIGHTS; LINKS; TERMINATION; NO THIRD PARTY BENEFICIARIES; BINDING ARBITRATION AND CLASS ACTION WAIVER; GENERAL INFORMATION.

                If your account is subject to a suspension, you must respect the restrictions and limitations imposed on your account as part of the suspension, and you should communicate with Fantasy League regarding restoration of your account only via support@Fantasy League.com.

                13. No third party beneficiaries

                You agree that, except as otherwise expressly provided in these Terms, there shall be no third party beneficiaries to the Terms.

                14. Notice and procedure for making claims of copyright infringement

                Fantasy League may, in appropriate circumstances and at its discretion, disable and/or terminate the accounts of users who infringe the intellectual property of others. If you believe that your copyright or the copyright of a person on whose behalf you are authorized to act has been infringed, please provide Fantasy League's Copyright Agent a written Notice containing the following information:

                an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;
                a description of the copyrighted work or other intellectual property that you claim has been infringed;
                a description of where the material that you claim is infringing is located on the Service;
                your address, telephone number, and email address;
                a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
                a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.
                Fantasy League's Copyright Agent can be reached in the following ways:
                Mail: FantasyLeague.com, North Ervay 211, Dallas TX 75270
 Email: copyright [at] Fantasy League [dot] com
                You can leave a voicemail for our Copyright Agent at 1-800-475-2250, but you cannot use this number to submit a Notice or to otherwise inform us of alleged copyright infringement. To be valid, a Notice must be in writing and must follow the instructions above. Please also may use the contact information in this Section to notify us of alleged violations of other intellectual property rights.

                15. Binding arbitration and class action waiver

                PLEASE READ THIS SECTION CAREFULLY – IT MAY SIGNIFICANTLY AFFECT YOUR LEGAL RIGHTS, INCLUDING YOUR RIGHT TO FILE A LAWSUIT IN COURT

                Initial Dispute Resolution

                Our Customer Support Department is available by phone (817)332-3400 or via the web to address any concerns you may have regarding the Service. Our Customer Service Department is able to resolve most concerns quickly to our players’ satisfaction. The parties shall use their best efforts through this Customer Service process to settle any dispute, claim, question, or disagreement and good faith negotiations which shall be a condition to either party initiating a lawsuit or arbitration.

                Binding Arbitration

                If the parties do not reach an agreed upon solution within a period of 30 days from the time informal dispute resolution under the Initial Dispute Resolution provision, then either party may initiate binding arbitration as the sole means to resolve claims, subject to the terms set forth below. Specifically, all claims arising out of or relating to these Terms (including their formation, performance and breach), the parties’ relationship with each other and/or your use of the Service shall be finally settled by binding arbitration administered by the American Arbitration Association in accordance with the provisions of its Commercial Arbitration Rules and the supplementary procedures for consumer related disputes of the American Arbitration Association (the “AAA”), excluding any rules or procedures governing or permitting class actions.

                The arbitrator, and not any federal, state or local court or agency, shall have exclusive authority to resolve all disputes arising out of or relating to the interpretation, applicability, enforceability or formation of these Terms, including, but not limited to any claim that all or any part of these Terms are void or voidable, or whether a claim is subject to arbitration. The arbitrator shall be empowered to grant whatever relief would be available in a court under law or in equity. The arbitrator’s award shall be written, and binding on the parties and may be entered as a judgment in any court of competent jurisdiction.

                The Commercial Arbitration Rules governing the arbitration may be accessed at www.adr.org or by calling the AAA at +1.800.778.7879. To the extent the filing fee for the arbitration exceeds the cost of filing a lawsuit, Fantasy League will pay the additional cost. If the arbitrator finds the arbitration to be non-frivolous, Fantasy League will pay all of the actual filing and arbitrator fees for the arbitration, provided your claim does not exceed $75,000. The arbitration rules also permit you to recover attorney’s fees in certain cases. The parties understand that, absent this mandatory provision, they would have the right to sue in court and have a jury trial. They further understand that, in some instances, the costs of arbitration could exceed the costs of litigation and the right to discovery may be more limited in arbitration than in court.

                Location

                If you are a resident of the United States, arbitration will take place at any reasonable location within the United States convenient for you. For residents in Canada, arbitration shall be initiated in the County of Dallas, State of Texas, United States of America, and you and Fantasy League agree to submit to the personal jurisdiction of any federal or state court in Dallas County, Texas, in order to compel arbitration, to stay proceedings pending arbitration, or to confirm, modify, vacate or enter judgment on the award entered by the arbitrator.

                Class Action Waiver

                The parties further agree that any arbitration shall be conducted in their individual capacities only and not as a class action or other representative action, and the parties expressly waive their right to file a class action or seek relief on a class basis. YOU AND Fantasy League AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING. If any court or arbitrator determines that the class action waiver set forth in this paragraph is void or unenforceable for any reason or that an arbitration can proceed on a class basis, then the arbitration provision set forth above shall be deemed null and void in its entirety and the parties shall be deemed to have not agreed to arbitrate disputes.

                Exception - Litigation of Intellectual Property and Small Claims Court Claims

                Notwithstanding the parties' decision to resolve all disputes through arbitration, either party may bring an action in state or federal court to protect its intellectual property rights (“intellectual property rights” means patents, copyrights, moral rights, trademarks, and trade secrets, but not privacy or publicity rights). Either party may also seek relief in a small claims court for disputes or claims within the scope of that court’s jurisdiction.

                30-Day Right to Opt Out

                You have the right to opt-out and not be bound by the arbitration and class action waiver provisions set forth above by sending written notice of your decision to opt-out to the following address: Fantasy League, Inc., North Ervay 211, 10th Floor Dallas TX 75270. The notice must be sent within 30 days of 08/20/2013 or your first use of the Service, whichever is later, otherwise you shall be bound to arbitrate disputes in accordance with the terms of those paragraphs. If you opt-out of these arbitration provisions, Fantasy League also will not be bound by them.

                Changes to this Section

                Fantasy League will provide 60-days’ notice of any changes to this section. Changes will become effective on the 60th day, and will apply prospectively only to any claims arising after the 60th day.

                For any dispute not subject to arbitration you and Fantasy League agree to submit to the personal and exclusive jurisdiction of and venue in the federal and state courts located in Dallas, TX. You further agree to accept service of process by mail, and hereby waive any and all jurisdictional and venue defenses otherwise available.

                The Terms and the relationship between you and Fantasy League shall be governed by the laws of the State of Texas without regard to conflict of law provisions.

                16. APPLICATION LICENSE

                Subject to your compliance with these Terms, Fantasy League grants you a limited non-exclusive, non-transferable license to download and install a copy of the app on a single device that you exclusively control and to run such copy of the app solely for your own personal use. Fantasy League reserves all rights in and to the app not expressly granted to you under these Terms. You will not run any version of the app on a jailbroken device.

                If you have downloaded our app, you agree to promptly download and install any new version that we make available through the iTunes App Store or Google Play store, as applicable. Some new versions may contain updated Terms. Some new versions may contain security fixes and service improvements, whether or not we disclose that they do; accordingly, failure to promptly update your version of the App may in some cases expose you to increased security risks or Service malfunctions.

                17. ADDITIONAL TERMS FOR OUR iOS APP

                You acknowledge and agree that (i) these Terms are concluded between you and Fantasy League only, and Apple is not a party hereto, and (ii) as between Fantasy League and Apple, it is Fantasy League that is responsible for the app and the content thereof. You must use the iOS app only on an Apple-branded product that runs iOS. Your use of the app must comply with the terms of use applicable to the Apple source from which you obtain it (including the Usage Rules set forth in the Apple App Store Terms of Service). You acknowledge that Apple has no obligation to furnish you with any maintenance and support services with respect to the app.

                You acknowledge that Apple is not responsible for addressing any claims you have or any claims of any third party relating to the app or your possession and use of the app, including, but not limited to (i) product warranty or liability claims; (ii) any claim that the app fails to conform to any applicable legal or regulatory requirement; (iii) claims arising under consumer protection or similar legislation; or (iv) claims that the app infringes a third party’s intellectual property rights.

                In the event of any failure of the iOS version of the app to conform to any applicable warranty that has not been effectively disclaimed by these Terms, you may notify Apple, and Apple will refund the purchase price for the app (if any) to you; to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to the app, and, as between Apple and Fantasy League, any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be Fantasy League’s responsibility, but only to the extent provided by these Terms. Please read the entire Terms, as other sections of these Terms limit Fantasy League’s liability in this regard.

                Apple, and Apple’s subsidiaries, are third-party beneficiaries of these Terms. Upon your acceptance of the Terms, Apple will have the right (and will be deemed to have accepted the right) to enforce the Terms against you as a third party beneficiary thereof. There are no other third-party beneficiaries of the Terms.

                18. GENERAL INFORMATION

                Entire Agreement

                These Terms (and any additional terms, rules and conditions of participation in particular contests that Fantasy League may post on the Service) constitute the entire agreement between you and Fantasy League with respect to the Service and supersedes any prior agreements, oral or written, between you and Fantasy League. In the event of a conflict between these Terms and the additional terms, rules and conditions of participation in particular contests, the latter will prevail over the Terms to the extent of the conflict.

                Waiver and Severability of Terms

                The failure of Fantasy League to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or provision. If any provision of the Terms is found by an arbitrator or court of competent jurisdiction to be invalid, the parties nevertheless agree that the arbitrator or court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms remain in full force and effect.

                Statute of Limitations

                You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of the Service or the Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred.

                Section Titles

                The section titles in the Terms are for convenience only and have no legal or contractual effect.

                Communications

                Users with questions, complaints or claims with respect to the Service may contact us using the relevant contact information set forth above.
                </pre>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


              </div>
            </div>
          </div>
        </div>



<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
<!--  Launch demo modal-->
<!--</button>-->
