<h1>Your Upcoming Leagues:</h1>
<div class="row">
  <table class="table table-striped">
    <tr>
      <th>
        League
      </th>
      <th>
        Entries/Size
      </th>
      <th>
        Fee
      </th>
      <th>
        Prizes
      </th>
      <th>
        Starts
      </th>
      <th>
        Show
      </th>
    </tr>
    <% @leagues.each do |league| %>
    <tr>
      <td>
        <%= league.name %>
      </td>
      <td>
        <%= league.users.count %>/<%= league.max_participants %>
      </td>
      <td>
        <%= number_to_currency(league.cost, precision: 0) %>
      </td>
      <td>
        <%= number_to_currency(league.prizes, precision: 0) %>
      </td>
      <td>
        <%= league.start_time.strftime('%a %b %e %I:%M %p %Z') %>
      </td>
      <td>
        <%= link_to "Show", league, class: "btn btn-primary" %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
